@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import "tailwindcss";

body{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
}
select,
option{
    border: none;
    background: var(--color-main-black);
    color: var(--color-main-accent);
    padding: 0 10px;
}
@theme {
    --color-main-black: #101820;
    --color-main-grey: #616161;
    --color-main-accent: #FFBB00;
    --color-secondary-accent: #8576FF;
    --color-main-white: #eeeeee;

    --magic-damage: #00A8E6;
    --physical-damage: #FF8C34;
    --healing: #3D8D7A;

}

@layer components{
    .app-container{
        @apply mx-auto px-4 lg:max-w-[1920px] md:px-8 lg:px-32;
    }

    .title-med{
        @apply text-2xl capitalize font-bold;
    }
    .title-sm{
        @apply text-lg capitalize font-bold;
    }
}


body{
    @apply bg-main-black text-main-white;
}